<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://alejandra-talamantes-121386.documents.azure.com:443/" />
        <add key="accountKey" value="UiUqaeD6RgJ4Ueed8c7Nc6cQzkkQvzuSwPZgFHV2i2xnJqB7dAYGqR0cwgQJaHyiv7VBuhDIlZINIxHv8CQZyQ==" />
      </appSettings>
    </configuration>