<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://bernd-koch-exercise-1.documents.azure.com:443/" />
        <add key="accountKey" value="SwEd6EyrfNFyOKb6KgPKaW9pIbbY5VoqvGCkxRHzpRUiUNlUEMpK2Sgfq8DVBmWbiSmVWCauGsjoov6xpO96hw==" />
      </appSettings>
</configuration>